.div {
  position: absolute;
  top: 12px;
  left: 16px;
}
.dropdownList,
.item1 {
  position: relative;
  overflow: hidden;
}
.item1 {
  align-self: stretch;
  background-color: #fff;
  height: 44px;
  flex-shrink: 0;
}
.dropdownList {
  border-radius: 8px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  text-align: left;
  font-size: 16px;
  color: #333;
  font-family: Montserrat;
}
